# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
#####
# OS X temporary files that should never be committed
#
# c.f. http://www.westwind.com/reference/os-x/invisibles.html

.DS_Store
.Trashes

# *.lock - this is used and abused by many editors for many different things.
#    For the main ones I use (e.g. Eclipse), it should be excluded 
#    from source-control, but YMMV

*.lock

# Project files for IntelliJIDEA
*.iml
.idea


# python
*.pyc
__pycache__

venv
.coverage
.coveragerc
*.py,cover

.coverage_html_report/

# sqlite3
*.db
.vagrant

.ropeproject

# shit of vim
.*.swo
.*.swp
.*.swa

#eggs
*.egg*

.env
